<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">노래 추가</div>
  
  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  
  <!--/* '/songcate/list_search_com.html' 파일의 list_search_fragment를 가져다 사용 */--> 
  <div th:replace="~{songcate/list_search_com::list_search_fragment}"></div>
  
  <div class="menu_line"></div>
  <div style="width: 50%; margin: 0px auto;">  
    <form name="frm" method="post" action="/songcate/create" th:object="${songcateVO}">
      <div>
        <label>장르</label>
        <input type="text" name="genre" value="" autofocus="autofocus"
               class="form-control" style="width: 50%;" th:field="*{genre}">
        <div th:if="${#fields.hasErrors('genre')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('genre'))}" th:text="${err}"></div>
        </div>  
      </div>
      
      <div>
        <label>가수</label>
        <input type="text" name="artist" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{artist}">
        <div th:if="${#fields.hasErrors('artist')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('artist'))}" th:text="${err}"></div>
        </div>  
      </div>
    
      <div>
        <label>출력 순서</label>
        <input type="number" name="seqno" value="1" min="1" max="1000000" step="1"
               class="form-control" style="width: 50%;" th:field="*{seqno}">
        <div th:if="${#fields.hasErrors('seqno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('seqno'))}" th:text="${err}"></div>
        </div>  
      </div>
      
      <div>
        <label>출력 모드(Y/N)</label>
        <select id="area" name="visible" class="form-control">
          <option value="출력 모드" th:selected="selected">출력 모드</option>
          <option value="Y">Y</option>
          <option value="N">N</option>
        </select>
        <div th:if="${#fields.hasErrors('visible')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('visible'))}" th:text="${err}"></div>
      </div>  
      </div>
      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="button" onclick="location.href='/songcate/list_search'" class="btn btn-secondary btn-sm">목록</button>
      </div>
      
    </form>
  </div>  
</div>
</html>

