<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">노래 리스트</div>
  <aside class="aside_right">
  <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  <div class="menu_line"></div>
  
  <div class="flex_div_center" style="width: 70%; margin: 0px auto;">  
    <form name="frm" method="post" action="/songcate/create" th:object="${songcateVO}">
      <div style="margin-right: 5px; width: 22%; float: left;">
        <input type="text" name="genre" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{genre}" placeholder="장르">
      </div>
      
      <div style="margin-right: 5px; width: 30%; float: left;">
        <input type="text" name="artist" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{artist}" placeholder="가수">
      </div>

      <div style="margin-right: 5px; width: 13%; float: left;">
        <input type="number" name="seqno" value="" min="1" max="1000000" step="1"
               class="form-control" style="width: 100%;" th:field="*{seqno}" placeholder="출력 순서">
      </div>
      <div  style="margin-right: 5px; width: 13%; float: left;">
        <select id="area" name="visible" class="form-control">
          <option value="출력 모드" th:selected="selected">출력 모드</option>
          <option value="Y">Y</option>
          <option value="N">N</option>
        </select>
      </div>
      <div style="margin-right: 5px; width: 15%; float: left; margin-top: 3px; margin-left: 5px;">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="reset" class="btn btn-secondary btn-sm">삭제</button>
      </div>
    </form>
  </div> 
  
  <!--/* '/songcate/list_all_com.html' 파일의 list_all_fragment를 가져다 사용 */-->
  <div th:replace="~{songcate/list_all_com::list_all_fragment}"></div>
</div>
</html>

