<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">노래 조회</div>
  <aside class="aside_right">
  <a th:href="@{|/songcate/list_search?word=${word}&now_page=${now_page}|}">목록</a>
  <span class="menu_divide">|</span>
  <a th:href="@{|/songcate/update/${songcateVO.songcateno}?word=${word}&now_page=${now_page}|}">수정</a>
  <span class="menu_divide">|</span>
  <a th:href="@{|/songcate/delete/${songcateVO.songcateno}?word=${word}&now_page=${now_page}|}">삭제</a>
  <span class="menu_divide">|</span>
  <a th:href="@{|/songcate/list_search|}">등록</a>
  <span class="menu_divide">|</span>
  <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  
  <!--/* '/songcate/list_search_com.html' 파일의 list_search_fragment를 가져다 사용 */--> 
  <div th:replace="~{songcate/list_search_com::list_search_fragment}"></div>
  
  <div class="menu_line"></div>

  <div class="container mt-3" style="width: 60%; margin:5px auto;"> <!--/* mt-3: margin top 16px */-->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">번호: <span th:text="${songcateVO.songcateno}"></span></li>
      <li class="list-group-item">장르: <span th:text="${songcateVO.genre}"></span></li>
      <li class="list-group-item">가수: <span th:text="${songcateVO.artist}"></span></li>
      <li class="list-group-item">
        관련 자료수: <span th:text="${songcateVO.cnt}" style="margin-right: 10px;"></span>
        출력 순서: <span th:text="${songcateVO.seqno}" style="margin-right: 10px;"></span>
        출력 모드: <span th:text="${songcateVO.visible}" style="margin-right: 10px;"></span>
      </li>
      <li class="list-group-item">등록일: <span th:text="${songcateVO.rdate}"></span></li>
    </ul>  
  </div>
  
  <div th:replace="~{songcate/list_all_com::list_all_fragment}"></div>
  
</div>
</html>