<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">태그의 초기값 및 입력값 제한</div>
  
  <div class="flex_div_center" style="width: 90%; margin: 0px auto;">  
    <form name="frm" method="post" action="/tag/init" style="text-align: center;">
      <div>
        <label>
          <input type="radio" name="radio_value" value="Y" th:checked="${radio_value=='Y'}">구독 설정(Yes)
        </label>&nbsp;
        <label>
          <input type="radio" name="radio_value" value="N" th:checked="${radio_value=='N'}">구독 취소(No)
        </label>
      </div>
      <div class="content_body_bottom">
        <label>
          <input type="checkbox" name="code1" value="CODE1" th:checked="${isCode1?'checked':null}">Rock
        </label>
        <label>
          <input type="checkbox" name="code2" value="CODE2" th:checked="${isCode2?'checked':null}">알앤비
        </label>
        <label>
          <input type="checkbox" name="code3" value="CODE3" th:checked="${isCode3?'checked':null}">소울
        </label>
      </div>
      <div class="content_body_bottom">
        <label>
          장르를 선택하세요
        </label>
        <select id="area" name="area">
          <option value="A01" th:selected="${select_value=='A01'}">Rock</option>
          <option value="A02" th:selected="${select_value=='A02'}">알앤비</option>
          <option value="A03" th:selected="${select_value=='A03'}">소울</option>
          <option value="A04" th:selected="${select_value=='A04'}">발라드</option>
          <option value="A05" th:selected="${select_value=='A05'}">댄스</option>
        </select>
      </div>      
      <div class="content_body_bottom">
        <label>
          작성 날짜를 선택하세요
        </label>
        <input type="date" id="rdate" name="rdate" th:value="${rdate}">
      </div>  
      <div class="content_body_bottom">
        <button type="submit" class="btn btn-primary btn-sm">저장</button> 
      </div>
    </form>
  </div>  

</div>
</html>

