<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${songcateVO.genre}" class="title_line_text"></span >
    > <span th:text="${songcateVO.artist}" class="title_line_text"></span >
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/plist/create?songcateno=${songcateVO.songcateno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_songcateno?songcateno=${songcateVO.songcateno }&word=${word }&now_page=${now_page}|}">기본 목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_songcateno_grid?songcateno=${songcateVO.songcateno }&word=${word }&now_page=${now_page}|}">갤러리형</a>    
  </aside> 

  <!-- /contents/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{plist/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <div style='width: 100%;'> <!-- 갤러리 Layout  시작 -->
    <div th:if="${list.size() > 0}"  th:each="plistVO, status:${list}" 
         th:attr="onclick=|location.href='/plist/read?plistno=${plistVO.plistno}&word=${word}&now_page=${now_page}'|"
         style='width: 19.0%; height: 200px; float: left; margin: 0.5%; padding: 0.5%; background-color: #EEEFFF; text-align: left; cursor: pointer;'>

      <div th:if="${plistVO.file1.endsWith('jpg') or plistVO.file1.endsWith('png')  or plistVO.file1.endsWith('gif')}"
             style="width: 100%; height: 100px;">
        <img th:src="@{|/plist/storage/${plistVO.thumb1}|}" style="width: 100%; height: 100%;">
      </div>

      <div th:if="${((plistVO.file1.endsWith('jpg') or plistVO.file1.endsWith('png')  or plistVO.file1.endsWith('gif')) == false) and (plistVO.size1 > 0)}"
             style="width: 100%; height: 100px;">
        <span th:text="${plistVO.file1}"></span>
      </div>

      <div th:if="${plistVO.size1 == 0}" style="width: 100%; height: 100px;">
        <img src="/plist/images/none1.png" style="width: 100%; height: 100%;">
      </div>
      <div>
        <span th:if="${plistVO.title.length() > 16 }" 
                  th:text="|${plistVO.title.substring(0, 16) }...|" style="font-weight: bold;"></span>
        <span th:if="${plistVO.title.length() <= 16 }" 
                  th:text="|${plistVO.title}|" style="font-weight: bold;"></span>
        <br>
        
        <span th:if="${plistVO.post.length() > 25 }" 
                  th:text="|${plistVO.post.substring(0, 25) }...|"></span>
        <span th:if="${plistVO.post.length() <= 25 }" 
                  th:text="|${plistVO.post}|"></span>
      </div>
      
      <div style="width: 100%; text-align: right;">♡</div>
      
    </div>
    
    <div th:if="${list.size() == 0}" style="text-align: center; padding: 50px 0px;">
      <span>관련 글이 등록되지 않았습니다.</span>
    </div> 
  </div>  <!-- 갤러리 Layout  종료 -->
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>

