<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${songcateVO.genre}" class="title_line_text"></span >
    > <span th:text="${songcateVO.artist}" class="title_line_text"></span >
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/plist/create?songcateno=${songcateVO.songcateno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_songcateno?songcateno=${songcateVO.songcateno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_songcateno_grid?songcateno=${songcateVO.songcateno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
    
  </aside> 

  <!-- /contents/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{plist/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
    </tr>
   
    <tr th:if="${list.size() > 0}" th:each="plistVO, status:${list}" 
         th:attr="onclick=|location.href='/plist/read?plistno=${plistVO.plistno}&word=${word}&now_page=${now_page}'|"
         style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <div th:if="${plistVO.file1.endsWith('jpg') or plistVO.file1.endsWith('png')  or plistVO.file1.endsWith('gif')}">
          <img th:src="@{|/plist/storage/${plistVO.thumb1}|}" style="width: 120px; height: 90px;">
        </div>
        
        <!--% 이미지가 이닌 파일은 파일명만 출력 %-->
        <div th:if="${((plistVO.file1.endsWith('jpg') or plistVO.file1.endsWith('png')  or plistVO.file1.endsWith('gif')) == false) and (plistVO.size1 > 0)}">
          <span th:text="${plistVO.file1}"></span>
        </div>

        <!--% 파일이 없는 경우 기본 이미지 출력 %-->
        <div th:if="${plistVO.size1 == 0}">
          <img src="/plist/images/none1.png" style="width: 120px; height: 90px;">
        </div>
        
      </td>
      </td>
      <td class='td_left'>
        <span th:text="${plistVO.title}" style="font-weight: bold;"></span>
        <span th:text="| ${plistVO.rdate.substring(0, 10)}|"></span><br>

        <span th:if="${plistVO.post.length() > 160 }" 
                  th:text="|${plistVO.post.substring(0, 160) }...|"></span>
        <span th:if="${plistVO.post.length() <= 160 }" 
                  th:text="|${plistVO.post}|"></span>
        
      </td>
    </tr>

    <tr th:if="${list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
 