<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">게시글 추천
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>
  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  <div class="menu_line"></div>
  
  <div th:replace="~{plistgood/list_search_com::list_search_fragment}"></div>
  <div th:replace="~{plistgood/list_all_com::list_all_fragment}"></div> 
  
</div>
</html>

